.image3 {
    margin-left: 300px;
}
.right-section2 {
    padding: 200px 70px;
    margin-right: 70px;
   
}
.h1 {
    color: #1b3764;
    font-family: "Cardo", serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.02em;
    margin-top: 30px;
}
.hr-0 {
    height: 0px;
    width: 55px;
    border: 1px solid #ffca42;
    margin-left: -3px;
}
.p9 {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #969aa0;
    font-size: 14px;
    margin-bottom: -20px;
}
.f3 {
    display: flex;
    align-items: center;
}
.h1simple {
    margin-bottom: -20px;
}
.p11 {
    color: #969aa0;
    font-family: "Inter", sans-serif;
}
.numers3 {
    margin-left: 30px;
}
.p11 {
    color: #969aa0;
    font-family: "Inter", sans-serif;
}
.pp {
    display: flex;
    align-items: center;
}
.best1 {
    margin-left: 100px;
}
.best {
    margin-left: 150px;
}
.cqrcont {
    display: flex;
    align-items: center;
    background-color: #1b3764;
    margin-top: 30px;
}
.qr1 {
    margin-left: 10px;
    margin: 10px;
}

